:host {
  display: block;
  position: relative;
}

core-animated-pages {
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#prev, #next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 77px;
  z-index: 100;
  background-repeat: repeat-x;
  opacity: 0.5;
}

#prev core-icon, #next core-icon {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
#prev {
  left: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%)
}
#next {
  right: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}

#prev:hover, #next:hover {
  cursor: pointer;
  opacity: 0.9;
}